<!DOCTYPE html>

<html lang="zxx" class="js">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Terms and conditions">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="images/favicon.png' %}"><!-- Site Title  --><title>BitChedda</title><!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="{% static 'statics_land/assets/css/vendor.bundlee222.css' %} ">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'statics_land/assets/css/stylee222.css' %}">
    <link rel="stylesheet" href="{% static 'statics_land/assets/css/theme-orangee222.css' %}" id="layoutstyle">
    <meta name="theme-color" content="#0027e3">
  <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#0027e3">
  <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#0027e3">

</head>
<body class="theme-dark io-zinnia" data-spy="scroll" data-target="#mainnav" data-offset="80"><!-- Header -->
<header class="site-header is-sticky"><!-- Place Particle Js -->
    <div id="particles-js" class="particles-container particles-js"></div><!-- Navbar -->
    <div class="navbar navbar-full navbar-expand-lg is-transparent" id="mainnav"><a class="navbar-brand animated"
                                                                                    data-animate="fadeInDown"
                                                                                    data-delay=".65"
                                                                                    href="{% url 'home_page' %}"><img
            class="logo logo-dark" alt="logo" src="{% static 'statics_land/images/logo.png' %}" srcset="images/logo2x.png 2x"><img
            class="logo logo-light" alt="logo" src="{% static 'statics_land/images/logo-full-white.png' %}"
            srcset="images/logo-full-white2x.png 2x"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span
                class="navbar-toggler-icon"><span class="ti ti-align-justify"></span></span></button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
            <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".35">
                <li class="nav-item"><a class="nav-link menu-link" href="#acceptance">Acceptance and terms through usage<span
                        class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link menu-link" href="#age">Must be aged 18 and above</a></li>
                <li class="nav-item"><a class="nav-link menu-link" href="#siteuse">Licence to use this site</a></li>
                <li class="nav-item"><a class="nav-link menu-link" href="#restrict">License restrictions</a></li>
                <li class="nav-item"><a class="nav-link menu-link" href="#conduct">User conduct</a></li>
                <li class="nav-item"><a class="nav-link menu-link" href="#advert">Third party sites and advertisment</a></li>
                 <li class="nav-item"><a class="nav-link menu-link" href="#liabilities">Limitation of liability</a></li>
                 <li class="nav-item"><a class="nav-link menu-link" href="#privacy">Privacy policies</a></li>
            </ul>

        </div>
    </div><!-- End Navbar --><!-- Banner/Slider -->


    <!-- Start Section -->
<div class="section section-pad services-section section-bg" id="services">
    <div class="ui-shape ui-shape-s4"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-8" >
                     <div class="mx-auto mx-lg-0" data-animate="fadeInUp"
                                                 data-delay=".1"><img src="{% static 'assets/img/brand/terms.jpg' %}"></div>

                    <div class="section-head-s7"><h6 class="section-title-s1 animated text-center" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">"Agreement"
Effective March 21, 2020</h6>
                    </div>
<div class="section section-pad about-section no-pb section-bg" id="acceptance">
                                        <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">ACCEPTANCE OF TERMS THROUGH USAGE</h3>

                    <article class="animated" data-animate="fadeInUp" data-delay=".2">By clicking “I agree” to this Agreement,
                        you (the User) have agreed to these terms and conditions. If you do not agree, or do not click
                        “I agree”, please do not use the website or platform and do not click “I agree”.
                        Please check the terms and conditions regularly for changes as the owners of this website,
                        COMPANY NAME, reserves the right to revise this Agreement.</article>
                        </div>
</div>
<div class="section section-pad about-section no-pb section-bg" id="age">
                                                  <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">MUST BE AGED 18 AND ABOVE</h3>

                    <article class="animated" data-animate="fadeInUp" data-delay=".2">The terms and conditions stated must be
                        read completely and understood by an individual who is above the age of 18.
                        Anyone who is not yet 18 does not have the authorization to view this material.</article>
                        </div>
</div>
<div class="section section-pad about-section no-pb section-bg" id="siteuse">

                                                  <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">LICENSE TO USE THIS SITE</h3>

                    <article class="animated" data-animate="fadeInUp" data-delay=".2">Once an Agreement has been reached, the Company grants you a non-exclusive, non-transferable limited license to use this site in strict accordance with the terms and conditions in this Agreement. You will agree to not make any false or fraudulent statements as you use this site. You acknowledge and agree that all content and services available on this website are properties of the company and are protected by copyrights, trademarks, service marks, patents, trade secrets and other proprietary rights and laws. You also agree to make payments for any service and purchases using your name and credit card through this site and not to challenge any such charges.
The fees required to have this access to this site are one-time activation fees. No form of installment payment will be allowed. Also there will be a 10% fee on the termination of investment contract.
.</article>
                        </div>
</div>

<div class="section section-pad about-section no-pb section-bg" id="restrict">

                                                  <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">LICENSE RESTRICTIONS</h3>

                    <article class="animated" data-animate="fadeInUp" data-delay=".2">

Unless with explicit permissions, you agree not to save, download, cut and paste, sell, license, rent, lease, modify, distribute, copy, reproduce in any form either publicly or privately any material from this site. Any systemic collection of data, or any other content from this site is strictly forbidden unless with a written permission from the company.

When you have been granted a Username and password from the company, you shall do all you can to prevent access to the site using your unique username and password by someone other than yourself. Your Username and password should be known to you and you alone. Notify the company immediately if you discover loss or access to such information by an unauthorized party.
</article>
                        </div>

</div>
                <div class="section section-pad about-section no-pb section-bg" id="conduct">

                                                  <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">USER CONDUCT</h3>

                    <article class="animated" data-animate="fadeInUp" data-delay=".2">
                        Usage of the features of this site that may allow you to post or otherwise transmit information through this site or which may be seen by others, you agree to not post or upload, distribute content in any form that is</article>
                                                      <li>	Threatening, abusive, harassing, defamatory, unlawful, deceptive, fraudulent, invasive of another’s privacy, obscene, sexually explicit or graphic or in violation of other rules of the site.</li>
                                                      <li>	Infringing any patent, trademark, service mark, trade secret, copyright, moral right, right of publicity or any other proprietary rules or policies.</li>
                                                      <li>	Basically an unauthorized form of advertisement or bulk emails (spamming), letters of any form of social gathering.</li>
                                                      <li>		Impersonating any person or institution including company staffs or representatives.</li>
                                                      <li>	Viruses or any computer file or software designed and capable of damaging, disrupting, or limiting the function of software, hardware or telecommunication device or equipment or to obtain unauthorized access to information.</li>
                                                      <article>You will also agree to be suspended or terminated immediately there is adequate amount of proof that alleges your violation of these rules. Legal action may also be taken depending on the extent of the crime.</article>
                                                  </div>
                </div>

<div class="section section-pad about-section no-pb section-bg" id="advert">
                                                  <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">THIRD PARTY SITES AND ADVERTISMENT</h3>

                    <article class="animated" data-animate="fadeInUp" data-delay=".2">
THIRD PARTY SITES AND ADVERTISMENT
This site will have some paid advertisements displayed on various points on the site and you are strongly advised to read the terms and conditions of these sites before usage. This is to prevent loss of funds in any form.
For companies that want to advertise their products, you are advised to contact the owners of the site through contact cards on the site. You are also advised to keep receipts in case of any case of fraudulent activities.
You may also be transferred to online merchants or other third party sites through links or frames from this site. You are strongly advised to read their terms and conditions and Privacy Policies before using such sites. These sites may contain information or material that is illegal, unreasonable or explicit.
</article>

                        </div>
</div>

<div class="section section-pad about-section no-pb section-bg" id="liabilities">
                                            <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">LIMITATION OF LIABILITY</h3>

                    <article class="animated" data-animate="fadeInUp" data-delay=".2">
This company, advertisers or licensors under no circumstance will be liable for any direct, indirect, punitive, incidental, special, or consequential damages that result from the use of the site. </article>

                        </div>

</div>
                <div class="section section-pad about-section no-pb section-bg" id="privacy">

                                            <div class="section-head-s7"><h3 class="section-title-s7 animated" data-animate="fadeInUp"
                                                 data-delay=".1" style="margin-top: 40px;">PRIVACY POLICIES</h3>


                        <li>We collect and protect personal information </li>
                        <li>	The collected information will not be shared to any third-party source for any reason.</li>
                        <li>	We may use this information to provide better services towards you.</li>
                        <li>	We restrict the access to this information to only those that can use the information to serve you better.</li>
                        <li>	We can guarantee the digital safety of the information.</li>


                        </div>
                </div>



            </div>

                                        <div class="row justify-content-center">
                            <a href="{% url 'register' %}">
                            <button type="button" class="btns btns-success"  style="margin-top: 40px; min-width: 200px; min-height: 40px">
                                <span class="btn-inner--text" style="font-size: 16px; ">Done</span>
                            </button>
                            </a>
                            </div>

<div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
    <div class="loader-section loader-bottom"></div>
</div><!-- Preloader End --><!-- JavaScript (include all script here) -->
<script src="{% static 'statics_land/assets/js/jquery.bundlee222.js' %}"></script>
<script src="{% static 'statics_land/assets/js/scripte222.js' %}"></script>
</body>
</html>
